---
import { defaultLocale, localizedPath } from "../lib/locales";

const target = localizedPath(defaultLocale, "/");
---

<!doctype html>
<html lang={defaultLocale}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BrightLearn</title>
  </head>
  <body>
    <a href={target}>Start learning</a>
  </body>
</html>

