---
import "../styles/global.css";
import type { LocaleCode } from "../lib/locales";

type Props = {
  title: string;
  description: string;
  locale: LocaleCode;
};

const { title, description, locale } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

